In [1]:
import pandas as pd

In [2]:
car_dict = {
    "make": ["Chevy", "Toyota", "Ford",],
    "model": ["Impala", "corolla", "mustang"],
    "year": [2016, 2013, 2020],
    "price": [25000,20000,33000],
    "color": ["red", "black", "white"],
    "horse_power": [150, 140, 200],
    "mpg": [22, 28, 23],
    "cylinders": [4, 4, 6],
}
my_car = pd.DataFrame(car_dict)
my_car.head()

     make    model  year  price  color  horse_power  mpg  cylinders
0   Chevy   Impala  2016  25000    red          150   22          4
1  Toyota  corolla  2013  20000  black          140   28          4
2    Ford  mustang  2020  33000  white          200   23          6

In [3]:
for column in my_car.columns:
    print(column)

make
model
year
price
color
horse_power
mpg
cylinders

In [ ]:
my_car.to_excel("my_car_exported_excel.xlsx")
my_car.to_csv("my_car_exported_csv.csv")

In [4]:
my_car.sample(2)

    make    model  year  price  color  horse_power  mpg  cylinders
0  Chevy   Impala  2016  25000    red          150   22          4
2   Ford  mustang  2020  33000  white          200   23          6

In [5]:
type(my_car)

pandas.core.frame.DataFrame

In [6]:
my_car.head(1)

    make   model  year  price color  horse_power  mpg  cylinders
0  Chevy  Impala  2016  25000   red          150   22          4

In [7]:
my_car.tail(1)

   make    model  year  price  color  horse_power  mpg  cylinders
2  Ford  mustang  2020  33000  white          200   23          6

In [8]:
my_car[["make", "price", "mpg", "cylinders"]].head(2)

     make  price  mpg  cylinders
0   Chevy  25000   22          4
1  Toyota  20000   28          4

In [9]:
my_car["price"]

0    25000
1    20000
2    33000
Name: price, dtype: int64

In [10]:
column_name_table = pd.DataFrame({
    "list_of_columns": list(my_car.columns)
})
column_name_table

  list_of_columns
0            make
1           model
2            year
3           price
4           color
5     horse_power
6             mpg
7       cylinders

In [11]:
if any(column_name_table[column_name_table == "year"]) is True:
    print("We found year, hooray!")

We found year, hooray!

In [12]:
def my_function(x=3, y=4):
    print("Today is 10/22/22")
    print(x*y - (x + y))
my_function()

Today is 10/22/22
5

In [13]:
def my_function(x=3, y=4):
    print("Today is 10/22/22")
    print(x*y - (x + y))
my_function()

Today is 10/22/22
5

In [14]:
my_list  = [1,2,3,4,5,]
num = 0
for i, number in enumerate(my_list):
    i += 1
    index = i**2
    num += index
print(num)

55

In [15]:
my_list[0]

1

In [16]:
my_list[-1]

5

In [17]:
my_list[len(my_list) // 2]

3

In [18]:
max(my_list)

5

In [19]:
len(my_list)

5

In [20]:
my_tuple = ("car", [10,20], ['cat', 'mouse'], (20, 0.9), 200, "$400")
print(my_tuple)

('car', [10, 20], ['cat', 'mouse'], (20, 0.9), 200, '$400')

In [21]:
my_list = ["car", [10,20], ['cat', 'mouse'], (20, 0.9), 200, "$400"]
print(my_list)

['car', [10, 20], ['cat', 'mouse'], (20, 0.9), 200, '$400']