In [2]:
import pandas as pd

In [3]:
#Create Car Make Model and Price (New and Two Years Old) Data Frame
mt = pd.DataFrame([['Ohio','Ford', 'Fusion', 29000, 24000, 'S'],
['Ohio', 'Tesla','ModelT', 35000, 30000, 'S'],
['Ohio', 'Chevy', 'Malibu', 34000, 29000, 'R'],
['Ohio', 'Toyota', 'Corolla', 30000, 25000, 'Y'],
['Ohio', 'Toyota', 'Yarris', 20000, 15000, 'G']],
columns=['State', 'Make', 'Model', 'Price_New', 'Price_Old', 'Color'])
print(mt)

  State    Make    Model  Price_New  Price_Old Color
0  Ohio    Ford   Fusion      29000      24000     S
1  Ohio   Tesla   ModelT      35000      30000     S
2  Ohio   Chevy   Malibu      34000      29000     R
3  Ohio  Toyota  Corolla      30000      25000     Y
4  Ohio  Toyota   Yarris      20000      15000     G

In [7]:
#q2a
mt_1 = mt[mt['Make'] == 'Toyota']
print(mt_1)

  State    Make    Model  Price_New  Price_Old Color
3  Ohio  Toyota  Corolla      30000      25000     Y
4  Ohio  Toyota   Yarris      20000      15000     G

In [9]:
#q2b
mt_2 = mt[['Make', 'Model', 'Price_Old', 'Price_New']] [mt['Price_New'] < 32000]
print(mt_2)

     Make    Model  Price_Old  Price_New
0    Ford   Fusion      24000      29000
3  Toyota  Corolla      25000      30000
4  Toyota   Yarris      15000      20000

In [12]:
#q2c
mt_3 = mt[['Model', 'State', 'Price_Old', 'Price_New']]
print(mt_3)

     Model State  Price_Old  Price_New
0   Fusion  Ohio      24000      29000
1   ModelT  Ohio      30000      35000
2   Malibu  Ohio      29000      34000
3  Corolla  Ohio      25000      30000
4   Yarris  Ohio      15000      20000

In [3]:
covid = pd.read_excel (r'covid_data.xlsx')

In [4]:
covid.head(5)

,continent,country,total_cases,new_cases,test_per_1M,population,pct_covid_case,severity,test_status
0,North_America,USA,66162639,805500,2564221,334000000,0.20,High,High
1,Asia,India,36849474,267345,499061,1400000000,0.03,Low,Low
2,South_America,Brazil,22927203,111376,296801,215000000,0.11,Medium,Low
3,Europe,UK,15066395,99652,6286888,68433484,0.22,High,Very High
4,Europe,France,13569675,329371,3204349,65495283,0.21,High,High

In [5]:
#3.1
covid.insert(2,"ab_country",['US', 'IN', 'BR', 'UK', 'FR', 'RU', 'TU', 'IT', 'SP', 'GE'])

In [25]:
#3.2
covid["pct_covid_case"] = (covid["total_cases"]/covid["population"])

       continent  country ab_country  total_cases  new_cases  test_per_1M  \
0  North_America      USA         US     66162639     805500      2564221
1           Asia    India         IN     36849474     267345       499061
2  South_America   Brazil         BR     22927203     111376       296801
3         Europe       UK         UK     15066395      99652      6286888
4         Europe   France         FR     13569675     329371      3204349
5           Asia   Russia         RU     10747125      23820      1680470
6           Asia   Turkey         TU     10339097      67857      1449647
7         Europe    Italy         IT      8341898     186253      2547049
8         Europe    Spain         SP      8093036     162508      1415353
9         Europe  Germany         GE      7885229      80080      1064457

   population  pct_covid_case severity test_status
0   334000000        0.198092     High        High
1  1400000000        0.026321      Low         Low
2   215000000        0.106638   Medium         Low
3    68433484        0.220161     High   Very High
4    65495283        0.207186     High        High
5   146000000        0.073610      Low        High
6    85731866        0.120598   Medium        High
7    60325300        0.138282   Medium        High
8    46782586        0.172992     High        High
9    84195273        0.093654      Low        High

In [27]:
#3.3
covid.loc[covid['pct_covid_case'] >= .2, 'severity'] = 'High'
covid.loc[(covid['pct_covid_case'] > .1) & (covid['pct_covid_case'] < .2), 'severity'] = 'Medium'
covid.loc[covid['pct_covid_case'] < .1, 'severity'] = 'Low'

In [30]:
#3.4
covid.loc[covid['test_per_1M'] > 5000000, 'test_status'] = 'Very High'
covid.loc[(covid['test_per_1M'] > 1000000) & (covid['pct_covid_case'] < 5000000), 'test_status'] = 'Medium'
covid.loc[covid['test_per_1M'] < 1000000, 'test_status'] = 'Low'

In [31]:
print(covid)

       continent  country ab_country  total_cases  new_cases  test_per_1M  \
0  North_America      USA         US     66162639     805500      2564221
1           Asia    India         IN     36849474     267345       499061
2  South_America   Brazil         BR     22927203     111376       296801
3         Europe       UK         UK     15066395      99652      6286888
4         Europe   France         FR     13569675     329371      3204349
5           Asia   Russia         RU     10747125      23820      1680470
6           Asia   Turkey         TU     10339097      67857      1449647
7         Europe    Italy         IT      8341898     186253      2547049
8         Europe    Spain         SP      8093036     162508      1415353
9         Europe  Germany         GE      7885229      80080      1064457

   population  pct_covid_case severity test_status
0   334000000        0.198092   Medium      Medium
1  1400000000        0.026321      Low         Low
2   215000000        0.106638   Medium         Low
3    68433484        0.220161     High      Medium
4    65495283        0.207186     High      Medium
5   146000000        0.073610      Low      Medium
6    85731866        0.120598   Medium      Medium
7    60325300        0.138282   Medium      Medium
8    46782586        0.172992   Medium      Medium
9    84195273        0.093654      Low      Medium